In [ ]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np

In [ ]:
data_house = pd.read_excel('Real-estate-valuation-data-set.xlsx')
data_house = data_house.drop('X1 transaction date', 1)
data_house.head(5)

<ipython-input-171-a6fe31a5e1b0>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_house = data_house.drop('X1 transaction date', 1)

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1

In [ ]:
X = data_house.iloc[:,:6]
y = data_house.iloc[:,6]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
model = Sequential()
model.add(Dense(30, activation = 'relu'))
model.add(Dense(15, activation = 'relu'))
model.add(Dense(15, activation = 'relu'))
model.add(Dense(3, activation = 'softmax'))

model.compile(loss = 'mse', optimizer = 'adam', metrics = 'accuracy')
model.fit(X_train,y_train, epochs = 50, batch_size=10)

Epoch 1/50
31/31 [==============================] - 1s 3ms/step - loss: 1563.4553 - accuracy: 0.0000e+00
Epoch 2/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 3/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 4/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 5/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 6/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 7/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 8/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 9/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 10/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 11/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 12/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 13/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 14/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 15/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 16/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 17/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 18/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 19/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 20/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 21/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 22/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 23/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 24/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 25/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 26/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 27/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 28/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 29/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 30/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 31/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 32/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 33/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 34/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 35/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 36/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 37/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 38/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4552 - accuracy: 0.0000e+00
Epoch 39/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 40/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 41/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 42/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4553 - accuracy: 0.0000e+00
Epoch 43/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 44/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4557 - accuracy: 0.0000e+00
Epoch 45/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4554 - accuracy: 0.0000e+00
Epoch 46/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4553 - accuracy: 0.0000e+00
Epoch 47/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4556 - accuracy: 0.0000e+00
Epoch 48/50
31/31 [==============================] - 0s 3ms/step - loss: 1563.4558 - accuracy: 0.0000e+00
Epoch 49/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4553 - accuracy: 0.0000e+00
Epoch 50/50
31/31 [==============================] - 0s 2ms/step - loss: 1563.4552 - accuracy: 0.0000e+00

In [ ]:
model.summary()

Model: "sequential_39"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_149 (Dense)           (10, 30)                  210

 dense_150 (Dense)           (10, 15)                  465

 dense_151 (Dense)           (10, 15)                  240

 dense_152 (Dense)           (10, 3)                   48

=================================================================
Total params: 963
Trainable params: 963
Non-trainable params: 0
_________________________________________________________________

In [ ]:
test_acc, test_loss = model.evaluate(X,y)
print('Accuracy: ' ,test_acc)

13/13 [==============================] - 0s 2ms/step - loss: 1602.1975 - accuracy: 0.0000e+00
Accuracy:  1602.197509765625